@import 'variables';

#name-table-container {
  overflow: auto;
  height: 400px;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th  {
    padding-top: 6px;
    padding-bottom: 8px;
}
#name-detail {
  padding: 65px 0;
  text-align: center;
}
#name-detail-name {
  font-size: 28px;
  margin-bottom: 30px;
}
#name-detail-male {
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  color: $primary-color;
}
#name-detail-female {
  font-size: 18px;
  font-weight: bold;
  color: $secondary-color;
}
#home-page h3 {
  margin-top: 50px;
}

h3 {
  margin-top: 0;
  margin-bottom: 20px;
}
footer {
  margin-top: 70px;
}
